<html>
<head>
	<title>Macs4U Checkin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="apple-touch-icon" href="/static/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="/static/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/static/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="/static/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/static/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="/static/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="/static/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="/static/apple-touch-icon-152x152.png" />
	<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon-180x180.png" />
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="/static/checkin/signature_pad.min.js"></script>
	{% if success %}
	<script>
		alert("Checkin Submitted")
	</script>
	{% endif %}
	{% if error %}
	<script>
		alert("A form validation error occured")
	</script>
	{% endif %}
	<script>
		$(document).ready(function(){
			position = 0;
			var canvas = document.querySelector("canvas");
	
			pad = new SignaturePad(canvas, {
				backgroundColor: 'white',
				penColor: 'rgb(0, 0, 0)'				
			});
			pad.onEnd = function() {
				document.getElementsByName("signature")[0].value = pad.toDataURL("image/jpeg");
			}
			function incrementPosition(positive)
			{
				if(positive) newPosition = position + 1
				else newPosition = position - 1;
				if(newPosition < 0) newPosition = 2;
				if(newPosition > 2) newPosition = 0;
				$('.view' + position).fadeOut(function() {
					$('.view' + newPosition).fadeIn();
				});
				$('.activeheader').removeClass('activeheader');
				$('.tab' + newPosition).addClass('activeheader');
				position = newPosition;
			}
			$('.rightarrow').click(function() {
				incrementPosition(true);	
			});
			$('.leftarrow').click(function() {
				incrementPosition(false);	
			});
			$('#signatureClear').click(function() {
				pad.clear();
			});
			$('.submit').click(function() {
				document.forms[0].submit() 
			});
		});

	</script>
	<style>
		body {
			position: fixed;
			width: 100%;
			margin: 0;
			overflow: hidden;
			font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    			"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    			"Droid Sans", "Helvetica Neue", sans-serif;
		}
		#signatureBox {
			position: absolute;
			top: 460px;
			left: 0;
			right: 0;
			text-align: center;
		}
		#signatureClear {
			font-size: 30px;
			color: #972923;
		}
		canvas {
			border-radius: 5px;
			border: black 2px solid;
			display: block;
			margin: auto;
		}
		input[type=text], input[type=email] {
			font-size: 30px;
			width: 600px;
		}
		textarea {
			font-size: 20px;
			width: 600px;
			height: 50px;
		}
		header {
			width: 100%;
			color: white;
			display: table;
		}
		.headertab {
			background: #8e8e8e;
			display: table-cell;
			width: 33%;
			margin: 0;
			padding: 10px;
			font-size: 22px;
			z-index: 1;
		}
		.headernumber {
			margin-top: -28px;
			/* background: blue; */
			font-size: 50px;
			right: 0;
			width: 100%;
			line-height: 35px;
			text-align: right;
		}
		.activeheader {
			background: #972923;
			box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.8);
			z-index: 2;
		}
		.title {
			text-align: left !important;
			margin-top: 20px;
			margin-left: 40px;
			font-size: 60px;
			font-weight: bold;
		}
		.hr {
			background: black;
			height: 2px;
			margin: 20px;
		}
		.fieldname {
			font-size: 28px;
			color: #7b7b7b;
			text-align: left;
			margin-left : 220px;
			width: 600px;
			display: block;
			margin: auto;
		}
		.view0 {
			text-align: center;
		}
		.view1 {
			text-align: center;
			display: none;
		}
		.view2 {
			text-align: center;
			display: none;
		}
		.rightarrow {
			cursor: pointer;
			color: #972923;
			position: absolute;
			right: 20px;
			top: 350px;
			font-size: 80px;
		}
		.leftarrow {
			cursor: pointer;
			color: #972923;
			position: absolute;
			left: 20px;
			top: 350px;
			font-size: 80px;
		}
		.disclaimer {
			font-size: 18px;
			text-align: justify;
			width: 800px;
			display: block;
			margin: auto;
		}
		.submit {
			font-size: 60px;
			color: #972923;
			position: absolute;
			right: 30px;
			top: 75px;
			cursor: pointer;
		}
	</style>
</head>
<body>
	<header>
		<div class="headertab tab0 activeheader">Customer<div class="headernumber">1</div></div>
		<div class="headertab tab1">Job<div class="headernumber">2</div></div>
		<div class="headertab tab2">Signature<div class="headernumber">3</div></div>
	</header>
	<div class="rightarrow">
		<i class="fas fa-chevron-right"></i>
	</div>
	<div class="leftarrow">
			<i class="fas fa-chevron-left"></i>
		</div>
	<div class="a">
		<div class="title view0">Customer Details</div>
		<div class="title view1">Job Details</div>
		<div class="title view2">Signature</div>
		<div class="submit view2">
			<i class="fas fa-share-square"></i>
		</div>
		<div class="hr"></div>
	</div>

	<form method="post">
		{% csrf_token %}
		<div class="view0">
			<div class="fieldname">Name</div>
			{{ form.customerName }}<br><br>
			<div class="fieldname">Address</div>
			{{ form.customerAddress }}<br><br>
			<div class="fieldname">Telephone</div>
			{{ form.customerTelephone }}<br><br>
			<div class="fieldname">Email</div>
			{{ form.customerEmail }}<br>
		</div>
		<div class="view1">
			<div class="fieldname">SRO</div>
			{{ form.document }}<br><br>
			<div class="fieldname">Model</div>
			{{ form.machineModel }}<br><br>
			<div class="fieldname">Serial</div>
			{{ form.machineSerial }}<br><br>
			<div class="fieldname">Problem</div>
			{{ form.problem }}<br><br>
			<div class="fieldname">Action Planned</div>
			{{ form.action }}<br>
		</div>
		{{ form.signature }}
		
	</form>
	<div id="agreementtext">
		{{agreement.text}}
	</div>
	<div class="view2">
		<div class="disclaimer">
			Webequip Pty Ltd T/as Macs4U does not accept responsibility for any data loss from goods brought in for service or testing.
			While all care is taken, it is assumed that clients have backup up their data before leaving it at Macs4U.<br>
			<br>
			Also, any devices that are brought in for service must be collected within 90 days, as they will not be covered by our insurance beyond this point and may be disposed of to cover the costs of repair and storage.
			It is also the customer's responsibility to inform Macs4U of any encumbrances or warranties that may apply to devices.<br>
			<br>
			In addition, Macs4U cannot accept responsibility for issues not originally disclosed or documented, which are revealed during testing, examination or repair.
		</div>
		<div id="signatureBox">
			<div id="signatureClear"><i class="fas fa-eraser"></i></div>
			Please sign in the box below<br>
			<canvas id="signatureArea" width=700 height=200></canvas>
		</div>
	</div>
</body>
</html>
