{% load static %}
<html>
<head>
	<title>Macs4U Reconditioned</title>
	<link href="https://fonts.googleapis.com/css?family=Yantramanav:300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="/static/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="/static/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/static/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="/static/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/static/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="/static/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="/static/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="/static/apple-touch-icon-152x152.png" />
	<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon-180x180.png" />
	<meta name="viewport" content="width=device-width, initial-scale=0.6, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<style>
		html{
			overflow: hidden;
		}
		body {
			margin: 0;
			font-family: 'Yantramanav', sans-serif;
			overflow-y: hidden;
			position: relative;
		}
		a {
			text-decoration: none;
			color: black;
		}
		header {
			font-size: 34px;
			text-align: center;
			background: #A12F27;
			color: white;
			position: absolute;
			padding: 20px;
			bottom: 0;
			top: 0;
			margin: auto;
			font-weight: 600;
			width: 210px;
		}
		.headerlink {
			color: white;
		}
		.headerline {
			background: #E6E6E688;
			width: 100%;
			height: 2px;
			margin: auto;
			display: block;
		}
		#content {
			padding-left: 265px;
			padding-right: 30px;
			width: calc(100% - 280px);
			text-align: center;
			overflow-y: scroll;
			height: 100%;
		}
		.redtext {
			color: #A12F27;
		}
		#about {
			font-weight: 400;
			margin-top: 10px;
			font-size: 16px;
			line-height: 18px;
			text-align: center;
			color: white;
		}
		#about a {
			color: white;
		}
		#about i {
			font-size: 16px;
		}
		.open, .close {
			display: none;
		}
		.mainlink {
			font-size: 20px;
			font-weight: 500;
			line-height: 50px;
			margin-left: -10px;
		}
		.mainlink i {
			display: block;
			margin-top: -34px;
			margin-left: 165px;
		}
		@media only screen and (max-width: 768px) {
			body {
				overflow: hidden;
			}
			header {
				position: relative;
				height: 110px;
				width: 100%;
				overflow: visible;
			}
			#content {
				padding-left: 30px;
				width: calc(100% - 60px);
				height: calc(100% - 150px);
			}
			#about {
				display: none;
				font-size: 24px;
				line-height: 25px;
				width: calc(100% - 40px);
			}
			#about i {
				font-size: 24px;
			}
			#header:target {
				height: 550px;
			}
			#header:target #about {
				display: block;
			}
			.open, .close {
				color: white;
				display: block;
				font-size: 60px;
				position: absolute;
				right: 60px;
				top: 40px;
			}
			#header:target .open,
			#header .close {
				display: none;
			}
			#header:target .close,
			#header .open {
				display: block;
			}
		}
	</style>
</head>
<body>
	<header id="header">
		<a href="/refurbished" class="headerlink">
			<img id="logo" height=60 src="{% static "logo.png"%}">
			<br>Reconditioned<br>
		</a>
		<a href="#header" class="open">
			<i class="fas fa-info-circle"></i>
		</a>
		<a href="#" class="close">
			<i class="fas fa-times"></i>
		</a>
		<div id="about">
			<div class="headerline"></div>
			<br>
			All of our reconditioned machines are comprehensively tested and come with a six month conditional warranty, in addition to your <u><i><a href="http://www.macs4u.com.au/terms-and-conditions/">rights under Australian Consumer Law.</a></i></u>
			<br><br>
			Most of our machines also feature new hard drives/solid state drives and new batteries with additional warranties.
			<br><br>
			<div class="headerline"></div>
			<br>
			If you are looking for a specific machine or configuration, you can get in contact at:<br><br>
				<a href="tel:0892747111"><i class="fas fa-phone fa-flip-horizontal"></i>&nbsp;&nbsp;(08) 9274 7111</a><br>
				<br>
				<a href="mailto:info@macs4u.com.au"><i class="fas fa-envelope"></i>&nbsp;&nbsp;info@macs4u.com.au</a><br>
				<a class="mainlink" href="https://macs4u.com.au">Visit our main site <i class="fas fa-chevron-right"></i></a>
			<br>
			<div class="headerline"></div>
		</div>
	</header>
	
	<div id="content">
		{% block content %}{% endblock %}
	</div>
</body>
</html>