{% extends "refurbished/base.html" %}
{% load static %}
{% block content %}

<style>
	.build {
		background: #F2F2F2;
		box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.36);
		border-radius: 4px;
		margin-top: 20px;
		text-align: left;
		position: relative;
	}
	.name {
		position: absolute;
		font-size: 40px;
		top: 10px;
		left: 20px;
	}
	.serial {
		color: #808080;
		position: absolute;
		top: 50px;
		left: 20px;
		font-size: 23px;
	}
	.image {
		position: relative;
		font-size: 20px;
		top: 90px;
		margin: auto;
		display: block;
		width: 75%;
		max-width: 500px;
	}
	.features {
		font-size: 25px;
		margin-top: 30px;
		margin-left: 20%;
		margin-bottom: 20px;
	}
	.price {
		text-align: center;
		font-size: 50px;

	}
	.notavailable {
		font-size: 20px;
		text-align: center;
	}
	.sorrytext {
		font-size: 45px;
		font-weight: 700;
	}
	.build:hover .button {
		color: #D09793;
	}
	.disclaimer {
		color: #808080;
		text-align: center;
		margin-top: 100px;
	}
</style>

{% if build.avaliable %}
<div class="build">
	<div class="name">{{build.model.displayName}} {{build.model.displaySize}}</div>
	<div class="serial">{{build.productCode}}</div>

	<img class="image" src="{% static "refurbished/"%}{{build.model.imagename}}">
	<div class="disclaimer">Image for reference only</div>
	<div class="features">{{build.processor.speed}}GHz {{build.processor.name}}
		{% if build.processor.cores == 2 %}
		(Dual-Core)
		{% endif %}
		{% if build.processor.cores == 4 %}
		(Quad-Core)
		{% endif %}
	<br>
	{{build.memory.size}}GB {{build.memory.form}} {{build.memory.speed}}MHz
	<br>
		{% if build.drive.new %}
		New 
		{% endif %}
		{{build.drive.size}}GB {{build.drive.form}}
	<br>
	{% for feature in build.features.all %}
	{{feature.name}}<br>
	{% endfor %}
	</div>
	<div class="price redtext">${{build.price}}</div>
</div>

{% else %}
<a href="/">
<div class="build">
	<div class="notavailable">
		<br><span class="redtext sorrytext">We're Sorry</span><br>
		This machine is no longer available<br><br>
		<span class="redtext button">< View Availiable Machines</span>
		<br><br>
	</div>
</div>
</a>
{% endif %}

{% endblock %}