{% extends "refurbished/base.html" %}
{% load static %}
{% block content %}

<style>
	.build {
		margin-top: 20px;
		text-align: left;
		position: relative;
	}
	.name {
		font-size: 40px;
		text-align: center;
		font-weight: 600;
	}
	.size {
		font-size: 35px;
		text-align: center;
	}
	.serial {
		color: #808080;
		text-align: center;
		font-size: 18px;
		margin-bottom: 20px;
	}
	.image {
		position: relative;
		font-size: 20px;
		top: 20px;
		margin: auto;
		display: block;
		width: 75%;
		max-width: 500px;
	}
	.features {
		font-size: 25px;
		margin-top: 30px;
		margin-left: 20%;
		margin-bottom: 20px;
		text-align: left;
	}
	.price {
		text-align: center;
		font-size: 60px;
	}
	.notavailable {
		font-size: 20px;
		text-align: center;
	}
	.sorrytext {
		font-size: 45px;
		font-weight: 700;
	}
	.build:hover .button {
		color: #D09793;
	}
	.disclaimer {
		color: #808080;
		text-align: center;
		margin-top: 40px;
		margin-bottom: 10px;
	}
	.divider {
		display: block;
		margin: auto;
		background: #b6b6b6;
		width: 90%;
		height: 2px;
	}
	.contact {
		background: #F2F2F2;
		box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.36);
		border-radius: 4px;
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.contactcell {
		display: inline-block;
		width: 49%;
		font-size: 20px;
	}
	.email {
		border-left: 1px solid #b6b6b6; 
	}
	.contact i {
		font-size: 40px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.back {
		margin-left: 0px;
		font-size: 25px;
		color: #A12F27;
	}
	.back i, .button i {
		font-size: 20px;
	}
	.viewButton {
		
		text-align: center;
		font-size: 25px;
		position: absolute;
		width: 100%;
		bottom: 10px;
	}
	.back:hover {
		color: #D09793;
	}
</style>

{% if build.avaliable %}
<div class="build">
	<a href="/refurbished" class="back"><i class="fas fa-chevron-left"></i> Back</div></a>
	<img class="image" src="{% static "refurbished/"%}{{build.model.imagename}}">
	<div class="disclaimer">Image for reference only</div>
	<div class="name">{{build.model.displayName}}</div>
	<div class="size">{{build.model.displaySize}}</div>
	<div class="serial">{{build.productCode}}</div>
	<div class="divider"></div>
	<div class="features">&bull;&nbsp;{{build.processor.speed}}GHz {{build.processor.name}}
		{% if build.processor.cores == 2 %}
		(Dual-Core)
		{% endif %}
		{% if build.processor.cores == 4 %}
		(Quad-Core)
		{% endif %}
	<br>
	&bull;&nbsp;{{build.memory.size}}GB {{build.memory.form}} {{build.memory.speed}}MHz
	<br>&bull;
		{% if build.drive.new %}
		New 
		{% endif %}
		{{build.drive.size}}GB {{build.drive.form}}
	<br>
	{% for feature in build.features.all %}
	&bull;&nbsp;{{feature.name}}<br>
	{% endfor %}
	</div>
	<div class="price redtext">${{build.price}}</div>
	<div class="contact">
		<a href="tel:0892747111"><div class="phone contactcell"><i class="fas fa-phone fa-flip-horizontal redtext"></i><br>(08) 9274 7111</div></a>
		<a href="mailto:info@macs4u.com.au?Subject=Refurbished%20Enquiry%20{{build.productCode}}"><div class="email contactcell"><i class="fas fa-envelope redtext"></i><br>info@macs4u.com.au</div></a>
	</div>
</div>

{% else %}
<a href="/refurbished">
<div class="build">
	<div class="notavailable">
		<br><span class="redtext sorrytext">We're Sorry</span><br>
		This machine is no longer available<br><br>
		<span class="redtext button"><i class="fas fa-chevron-left"></i> View Availiable Machines</span>
		<br><br>
	</div>
</div>
</a>
{% endif %}

{% endblock %}