{% extends "refurbished/base.html" %}
{% load static %}
{% block content %}

<style>
	.build {
		color: black;
		display: inline-block;
		/* border: #AA1A1B 2px solid; */
		border-radius: 4px;
		width: 450px;
		height: 310px;
		margin: 10px;
		margin-top: 20px;
		background: #F2F2F2;
		box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.36);
		text-align: left;
		position: relative;
	}
	.name {
		font-size: 30px;
		position: absolute;
		top: 20px;
		left: 220px;
		text-align: left;
		margin-right: 20px;
		font-weight: 500;
	}
	.size {
		font-size: 30px;
		position: absolute;
		top: 45px;
		left: 220px;
		text-align: left;
		margin-right: 20px;
		font-weight: 500;
	}
	.image {
		position: absolute;
		top: 20px;
		left: 20px;
	}
	.serial {
		color: #808080;
		position: absolute;
		top: 80px;
		left: 220px;
		font-size: 15px;
	}
	.price {
		font-size: 40px;
		position: absolute;
		left: 220px;
		top: 110px;
		color: #A12F27;
	}
	.processor {
		font-size: 20px;
		position: absolute;
		left: 40px;
		top: 180px;	
	}
	.memory {
		font-size: 20px;
		position: absolute;
		left: 40px;
		top: 210px;	
	}
	.drive {
		font-size: 20px;
		position: absolute;
		left: 40px;
		top: 240px;	
	}
	.viewButton {
		color: #A12F27;
		text-align: center;
		font-size: 25px;
		position: absolute;
		width: 100%;
		bottom: 10px;
	}
	.viewButton i {
		font-size: 20px;
	}
	.build:hover .viewButton, .build:hover .viewButton i {
		color: #D09793;
	}
	.nobuilds {
		font-size: 30px;
		margin-top: 10px;
	}
</style>

{% if buildList %}
	{% for build in buildList %}
		<a href="device/{{build.productCode}}">
			<div class="build">
				<div class="name">{{build.model.displayName}}</div>
				<div class="size">{{build.model.displaySize}}</div>
				<div class="serial">{{build.productCode}}</div>
				<div class="price">${{build.price}}</div>
				<img class="image" style="display: block; margin: 0 auto;" width=180 src="{% static "refurbished/"%}{{build.model.imagename}}">
				<div class="processor">{{build.processor.speed}}GHz {{build.processor.name}}
					{% if build.processor.cores == 2 %}
					(Dual-Core)
					{% endif %}
					{% if build.processor.cores == 4 %}
					(Quad-Core)
					{% endif %}
				</div>
				<div class="memory">{{build.memory.size}}GB {{build.memory.form}} {{build.memory.speed}}MHz</div>
				<div class="drive">
					{% if build.drive.new %}
					New 
					{% endif %}
					{{build.drive.size}}GB {{build.drive.form}}</div>
				
				<div class="viewButton">View <i class="fas fa-chevron-right redtext"></i></div>
			</div>
		</a>
	{% endfor %}
{% else %}
	<div class="nobuilds">
		No reconditioned machines are currently available, check back soon
	</div>
{% endif %}

{% endblock %}