{% load static %}

<html>
<head>
	<title>Macs4U Reconditioned</title>
	<link href="https://fonts.googleapis.com/css?family=Yantramanav:300,400,500,700" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=0.6">
	<style>
		@page {
			size: A4 landscape;
			margin: 5mm 5mm 5mm 5mm;
		}
		body {
			margin: 0;
			font-family: 'Yantramanav', sans-serif;
			overflow-y: hidden;
			position: relative;
		}
		.header {
			background: #A12F27;
			font-size: 35px;
			height: 15mm;
			line-height: 15mm;
			color: white;
			width: 85mm;
		}
		.logo {
			height: 10mm;
			margin-left: 2mm;
			margin-top: -2mm;
			vertical-align: middle;		
		}
		.redtext {
			color: #A12F27;
		}
		.left {
			display: inline-block;
			/* background: yellow; */
			width: 142mm;
			height: 200mm;
		}
		.right {
			position: absolute;
			display: inline-block;
			/* background: green; */
			width: 142mm;
			height: 200mm;
			padding-left: 5mm;
		}
		.name {
			position: absolute;
			font-size: 50px;
			top: 15mm;
			left: 20px;
		}
		.display {
			position: absolute;
			font-size: 45px;
			top: 26mm;
			left: 20px;
		}
		.serial {
			color: #808080;
			position: absolute;
			top: 37mm;
			left: 20px;
			font-size: 16px;
		}
		.imagecontainer {
			position: relative;
			top: 27mm;
			left: 5mm;
			width: 130mm;
			height: 95mm;
			line-height: 100mm;
			/* background: blue; */
		}
		.image {
			max-width: 130mm;
			max-height: 95mm;
			height: auto;
			width: auto;
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			box-sizing: border-box;
			margin: auto;
		}
		.specs {
			position: absolute;
			font-size: 30px;
			top: 145mm;
			left: 15mm;
		}
		.price1 {
			position: absolute;
			bottom: 0;
			font-size: 70px;
			text-align: center;
			width: 50%;
		}
		.price2 {
			position: absolute;
			bottom: 0;
			right: 0;
			font-size: 120px;
			text-align: center;
			width: 100%;
		}
		.features {
			position: absolute;
			font-size: 30px;
			top: 45mm;
			left: 15mm;		
		}
		.disclaimer {
			color: #808080;
			text-align: center;
			margin-top: 30mm;
			font-size: 12px;
		}
		.cutline {
			width: 1px;
			height: 20px;
			background: black;
			position: absolute;
			left: 50%;
			z-index: 100;
		}
		.cutline2 {
			bottom: 0;
		}
	</style>
</head>
<body>

<div class="cutline"></div>
<div class="cutline cutline2"></div>
<div class="left">
	<div class="header">
		<img class="logo" src="http://localhost{% static "logo.png"%}">
		Reconditioned
	</div>
	<div class="name redtext">{{build.model.displayName}}</div>
	<div class="display redtext">{{build.model.displaySize}}</div>
	<div class="serial">{{build.productCode}}</div>

	<div class="imagecontainer">
		<img class="image" src="http://localhost{% static "refurbished/"%}{{build.model.imagename}}">
	</div>
	<div class="disclaimer">Image for reference only</div>
	<div class="specs">&bull;&nbsp;{{build.processor.speed}}GHz {{build.processor.name}}
		{% if build.processor.cores == 2 %}
		(Dual-Core)
		{% endif %}
		{% if build.processor.cores == 4 %}
		(Quad-Core)
		{% endif %}
	<br>
	&bull;&nbsp;{{build.memory.size}}GB {{build.memory.form}} {{build.memory.speed}}MHz
	<br>&bull;
		{% if build.drive.new %}
		New 
		{% endif %}
		{{build.drive.size}}GB {{build.drive.form}}
	</div>
	<div class="price1 redtext">${{build.price}}</div>
</div>

<div class="right">
	<div class="header">
		<img class="logo redtext" src="http://localhost{% static "logo.png"%}">
		Reconditioned
	</div>
	<div style="margin-left: 5mm;" class="name redtext">{{build.model.displayName}}</div>
	<div style="margin-left: 5mm;" class="display redtext">{{build.model.displaySize}}</div>
	<div style="margin-left: 5mm;" class="serial">{{build.productCode}}</div>
	<div class="features">&bull;&nbsp;{{build.processor.speed}}GHz {{build.processor.name}}
		{% if build.processor.cores == 2 %}
		(Dual-Core)
		{% endif %}
		{% if build.processor.cores == 4 %}
		(Quad-Core)
		{% endif %}
	<br>
	&bull;&nbsp;{{build.memory.size}}GB {{build.memory.form}} {{build.memory.speed}}MHz
	<br>&bull;
		{% if build.drive.new %}
		New 
		{% endif %}
		{{build.drive.size}}GB {{build.drive.form}}
	<br>
	{% for feature in build.features.all %}
	&bull;&nbsp;{{feature.name}}<br>
	{% endfor %}
	</div>
	<div class="price2 redtext">${{build.price}}</div>
</div>
</body>
</html>
